.grid-panel {
	position: relative;

	figure {
		position: relative;
		height: 320px;
		transform: translateY(90px);
		transition: transform 0.3s;

		@media screen and (max-width: 1024px) {
			bottom: 10px;
			transform: none;
		}

		img {
			height: auto;
			display: block;
			position: relative;
			transition: transform 0.4s;
			transform: translate(-50%, 0);
			left: 50%;
			bottom: 90px;

			@media screen and (max-width: 1024px) {
				width: 600px;
			}
		}
	}

	figcaption {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 20px;
		background: #1e1c1c;
		color: #ed4e6e;
		display: flex;
		align-items: center;
		height: 100px;
		width: 101%;

		h2 {
			color: #fff;
			max-width:44%;
		}

		a {
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			display: inline-block;
			background: #ed4e6e;
			color: #fff;
		}
	}

	> a {
		display: block;
		overflow: hidden;
	}

	> a:hover > figure{
		transform: translateY(-10px);

		@media screen and (max-width: 1024px) {
			transform: none;
		}
	}
}