#sub-content {
	max-width: 80%;
	width: 940px;
	margin: 0 auto;
	overflow: auto;

	* {
		color: #777;
	}

	h2,
	p {
		text-align: center;
	}

	h2 {
		font-size: 40px;
		margin: 0 auto 20px;

		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 18px;
		line-height: 1.3;
		margin: 0 auto;
	}

	.images {
		margin-top: 40px;
	}

	img {
		display: block;
		margin: 0 auto 40px;
		width: 100%;

		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	video {
		margin: 40px auto 0;
		display: inline-block;
		width: 940px;
		max-width: 100%;
		outline-width: 0;
	}

	.detail-link {
		display: block;
		text-align: center;
		margin-top: 20px;
	}

	a:hover {
		color: #2c2a2a;
	}

	&.about .grid-d-12 {
		a {
			text-decoration: underline;
		}

		> a {
			text-align: center;
			display: block;

			&:first-of-type {
				margin-bottom: 10px;
			}
		}

		p {
			margin-bottom: 20px;
		}
	}
}