header {
	margin: 0 auto 20px auto;
	overflow: hidden;
	padding: 35px 0 18px 0;
	color: #777;
}
@media screen and (max-width: 460px) {
	header {
		padding-top: 0;
	}
	header .grid-d-12 {
		padding-top: 0;
		margin-top: 0;
	}
	header.open-nav nav {
		margin-top: 20px;
	}
}

#logo a {
	float: left;
}
#logo a:hover h1 {
	color: #333;
	-webkit-transition: all 0.5s;
}
#logo h1,
#logo h2 {
	float: left;
	font-size: 1.2em;
	color: #777;
	font-weight: normal;
	font-family: Nexa, "Berthold Akzidenz Grotesk BE", Helvetica, verdana, sans-serif;
}
#logo h1 {
	margin-right: 6px;
}
@media screen and (max-width: 460px) {
	#logo h1 {
		font-size: 1.1em;
		width: 160px;
	}
}

.mobile-nav-link {
	display: none;
}
@media screen and (max-width: 460px) {
	.mobile-nav-link {
		display: block;
		margin-left: auto;
		padding-top: 4px;
		width: 40px;
		height: 24px;
		border-top: 5px solid #777;
		position: relative;
		z-index: 1;
		cursor: pointer;
		background: none;
		outline: none;
	}
	.mobile-nav-link::before, .mobile-nav-link::after {
		content: "";
		display: block;
		border-top: 5px solid #777;
	}
	.mobile-nav-link::before {
		padding-bottom: 4px;
	}
}

nav {
	float: right;
	font-weight: normal;
	font-family: Nexa, "Berthold Akzidenz Grotesk BE", Helvetica, verdana, sans-serif;
}
@media screen and (max-width: 900px) {
	nav {
		width: 100%;
		margin-top: 20px;
	}
}
@media screen and (max-width: 460px) {
	nav {
		margin-top: -100px;
		transition: margin 700ms;
	}
}
nav li {
	display: inline;
	font-size: 18px;
	color: #777;
	cursor: pointer;
	border-right: 1px solid #929292;
	padding-right: 22px;
	margin-right: 18px;
	transition: all 1s ease;
}
nav li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}
@media screen and (max-width: 460px) {
	nav li {
		display: inline-block;
		width: 48%;
		margin: 0;
		border-right: 0;
		padding: 0;
		border-bottom: 2px solid #999;
		transition: none;
		line-height: 1;
	}
	nav li:nth-child(odd) {
		margin-right: 4%;
	}
	nav li a {
		display: block;
		padding: 12px 0 10px 0;
	}
}
nav a:hover {
	color: #2c2a2a;
}
nav .active {
	font-family: Nexa, "Berthold Akzidenz Grotesk BE", Helvetica, verdana, sans-serif;
	color: #2c2a2a;
	font-weight: 500;
}

@media screen and (max-width: 460px) {
	.top-header {
		width: 100%;
		padding-top: 40px;
		display: flex;
		align-items: center;
		background-color: #ccc;
		position: relative;
		z-index: 2;
	}
	.open-nav .mobile-nav-link,
	.open-nav .mobile-nav-link::after {
		border-color: #ccc;
	}
}
.grid-panel {
	position: relative;
}
.grid-panel figure {
	position: relative;
	height: 320px;
	transform: translateY(90px);
	transition: transform 0.3s;
}
@media screen and (max-width: 1024px) {
	.grid-panel figure {
		bottom: 10px;
		transform: none;
	}
}
.grid-panel figure img {
	height: auto;
	display: block;
	position: relative;
	transition: transform 0.4s;
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 90px;
}
@media screen and (max-width: 1024px) {
	.grid-panel figure img {
		width: 600px;
	}
}
.grid-panel figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	background: #1e1c1c;
	color: #ed4e6e;
	display: flex;
	align-items: center;
	height: 100px;
	width: 101%;
}
.grid-panel figcaption h2 {
	color: #fff;
	max-width: 44%;
}
.grid-panel figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
.grid-panel > a {
	display: block;
	overflow: hidden;
}
.grid-panel > a:hover > figure {
	transform: translateY(-10px);
}
@media screen and (max-width: 1024px) {
	.grid-panel > a:hover > figure {
		transform: none;
	}
}

#sub-content {
	max-width: 80%;
	width: 940px;
	margin: 0 auto;
	overflow: auto;
}
#sub-content * {
	color: #777;
}
#sub-content h2,
#sub-content p {
	text-align: center;
}
#sub-content h2 {
	font-size: 40px;
	margin: 0 auto 20px;
}
@media screen and (max-width: 767px) {
	#sub-content h2 {
		margin-bottom: 30px;
	}
}
#sub-content p {
	font-size: 18px;
	line-height: 1.3;
	margin: 0 auto;
}
#sub-content .images {
	margin-top: 40px;
}
#sub-content img {
	display: block;
	margin: 0 auto 40px;
	width: 100%;
}
@media screen and (max-width: 767px) {
	#sub-content img {
		margin-bottom: 20px;
	}
}
#sub-content video {
	margin: 40px auto 0;
	display: inline-block;
	width: 940px;
	max-width: 100%;
	outline-width: 0;
}
#sub-content .detail-link {
	display: block;
	text-align: center;
	margin-top: 20px;
}
#sub-content a:hover {
	color: #2c2a2a;
}
#sub-content.about .grid-d-12 a {
	text-decoration: underline;
}
#sub-content.about .grid-d-12 > a {
	text-align: center;
	display: block;
}
#sub-content.about .grid-d-12 > a:first-of-type {
	margin-bottom: 10px;
}
#sub-content.about .grid-d-12 p {
	margin-bottom: 20px;
}

footer {
	padding: 20px 0;
	font-family: Nexa, "Berthold Akzidenz Grotesk BE", Helvetica, verdana, sans-serif;
	font-size: 1.2em;
}
footer ul {
	list-style-type: none;
	max-width: 80%;
}
footer li {
	float: left;
	display: inline;
	padding: 5px 10px 0 0;
	color: #777;
	font-size: 16px;
}
footer a {
	color: #777;
}
footer a:hover {
	color: #333;
	-webkit-transition: all 0.5s;
}

#email {
	width: 100%;
	float: left;
	clear: both;
}

#footer-name {
	width: auto;
	clear: left;
}

.not-found-bg {
	background: url(/images/concrete-seamless.png) left top/400px 400px repeat;
}
@media (max-width: 460px) {
	.not-found-bg {
		background: #ccc;
	}
}

#not-found {
	max-width: 80%;
	margin: 0 auto;
}
#not-found img {
	width: 1000px;
	max-width: 80%;
	margin: 0 auto;
	display: block;
}
#not-found h3,
#not-found h2 {
	color: #777;
	text-align: center;
}
#not-found h2 {
	font-size: 80px;
	margin-top: 10px;
}
@media (max-width: 767px) {
	#not-found h2 {
		font-size: 60px;
	}
}
#not-found h3 {
	font-size: 20px;
	margin-top: 60px;
}
@media (max-width: 767px) {
	#not-found h3 {
		font-size: 16px;
		margin-top: 20px;
	}
}
#not-found a {
	text-decoration: underline;
}

html, body, div, figure, figcaption, section, article, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
}

a:link,
button {
	text-decoration: none;
	color: #777;
	-webkit-transition: all 0.5s;
}

a:visited {
	text-decoration: none;
	color: #777;
}

a:hover {
	text-decoration: none;
	color: #2c2a2a;
}

a:active {
	text-decoration: none;
}

div {
	height: auto;
	font-family: Nexa, "Berthold Akzidenz Grotesk BE", Helvetica, verdana, sans-serif;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

@font-face {
	font-family: Nexa;
	src: url(../fonts/NexaBold.woff);
}
body {
	background: none repeat scroll 0 0 #ccc;
}

[class*=grid-] {
	margin-top: 10px;
}

.grid-d-4 {
	overflow: hidden;
	height: 320px;
}

.view {
	float: right;
	margin: 0 30px 0 auto;
	border: 2px solid rgba(255, 255, 255, 0.4);
	padding: 10px 30px;
	color: #fff;
	transition: all 1s ease;
}
.view:hover {
	border-color: rgb(255, 255, 255);
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

#content,
header,
footer {
	width: 80%;
	max-width: 1800px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-item {
	width: 30%;
	height: 320px;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 3% 3% 0;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(197, 197, 197, 0.5);
	-moz-box-shadow: 1px 1px 1px 1px rgba(197, 197, 197, 0.5);
	box-shadow: 1px 1px 1px 1px rgba(197, 197, 197, 0.5);
}
